[
  {
    "token": "xxxxxxxx", # your oauth token
    "directory": "sub_dir", # an optional subfolder 
    "owners": [], # list of owners, empty or omitted will use all available
    "method": "github", # github or gitlab
	"repos": [], # list of repos, empty or omitted will use all available
    "host": "https://api.github.com/" # API host address. Empty or omitted will use default
  },
]
